//
//
// All Variables
//
//


//
// Colors
//

$black: #161616;
$grey: #f7f7f7;
$white: #ffffff;
$yellow: #ddb91f;


//
// Margins
//

$margin1-desk: 90px;
$margin1-med-desk: 60px;
$margin1-tablet-v: 45px;
$margin1-mobile: 40px;

$margin2-desk: 150px;
$margin2-med-desk: 110px;
$margin2-tablet-v: 90px;
$margin2-mobile: 40px;

